.site-logo {
  width: 160px !important;
  transition: 0.5s;
}

.site-logo:hover {
  width: 170px !important;
  transition: 0.5s;
}

.menu {
  width: 40%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  float: right;
  padding-top: 37px;
  padding-right: 50px;
  font-family: 'montserrat-medium', sans-serif;
}

.menu-item a {
  color: #ffffff;
  font-size: 18px;
  transition: 0.5s;
}

.menu-item a:hover {
  font-size: 20px;
  transition: 0.5s;
}
